.footerContainer {
    @include header-footer-style;
}

.header-footer-text-container {
    @include absolute-center;
    height: 100%;
}

.footerText {
    position: relative;
    height: 100%;
    @include flex-center
}