.main-content-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.main-content-animation-wrapper {
    width: 100%;
    height: 100%;
}

.center-line {
    @include absolute-center;
    height: 100vh;
    border: 1px solid $site-main-color;
}